html {
    background-color: #212121;
    color: lightgray;
}

h1,
h2 {
    color: mediumpurple;
}

a {
    color: royalblue;
    text-decoration: underline;
    margin-bottom: 5px;
}

a:hover {
    color: turquoise;
}

a:visited {
    color: plum;
}

main {
    font-family: "Courier New", Courier, monospace;
    margin: 0 25%;
}

.feed-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feed-category-label {
    margin-left: 5px;
    border: 1px solid turquoise;
    padding: 2px 5px;
    border-radius: 5px;
    background-color: #333;
}

.feed-content-wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid mediumpurple;
    padding: 5px 10px;
    margin-bottom: 5px;
}


.radio-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

.radio-option {
    background-color: #333;
    border: 1px solid #333;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.radio-option:hover {
    cursor: pointer;
}

.radio-option input[type="radio"] {
    display: none;
}

.radio-checked {
    border: 1px solid turquoise;
}

.raw-feed-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 10vw;
}

.raw-feed {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    margin-bottom: 5px;
}

.raw-feed:first-child {
    font-weight: bold;
    font-size: large;
    border-bottom: 1px solid white;
}

.add-raw-feed-button {
    align-self: flex-start;
}

@media (max-width: 750px) {
    html {
        font-size: 16px;
        line-height: 22px;
    }

    main {
        margin: 0;
        margin-top: 10px;
    }

    header {
        font-size: 18px;
        height: 40px;
    }

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 23px;
    }

    h3 {
        font-size: 20px;
    }
}
